<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	<h1 class="h2">Dashboard</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group mr-2">
			<button class="btn btn-sm btn-outline-secondary">Share</button>
			<button class="btn btn-sm btn-outline-secondary">Export</button>
		</div>
		<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
			<span data-feather="calendar"></span>
			This week
		</button>
	</div>
</div>

<canvas class="my-4" id="myChart" width="900" height="380"></canvas>

<h2>Section title</h2>
<div class="table-responsive">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Type</th>
				<th>Memo</th>
				<th>goop</th>
			</tr>
		</thead>
		<tbody>
			{%for row in data%}
			<tr>
				<td>{{row.id}}</td>
				<td>{{row.name}}</td>
				<td>{{row.type}}</td>
				<td>{{row.memo}}</td>
				<td>{{row.goop}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>